---
---

@charset "utf-8";

@import "so-simple/functions";
@import "so-simple/variables";
@import "so-simple/notices";

/* Colors */
$primary-color: #31ac94 !default; // green-cyan
$accent-color: #66b6cc !default; // mid blue

$base-color: #f1f3f3 !default; // very light cyan
$text-color: #f1f3f3 !default;
$background-color: #1f334a !default; // cyan-blue

$success-color: #45af66 !default; // green
$warning-color: #f89406 !default; // gold-brown
$danger-color: #f44336 !default; // red
$info-color: #66b6cc !default; // mid blue

$nav-color: $base-color !default;
$nav-background-color: $primary-color !default;
$code-background-color: mix($background-color, $info-color, 90%) !default;
$border-color: $primary-color !default;

/* Syntax highlighting (base16) colors */
$base00: #263238 !default;
$base01: #2e3c43 !default;
$base02: #314549 !default;
$base03: #546e7a !default;
$base04: #b2ccd6 !default;
$base05: #eeffff !default;
$base06: #eeffff !default;
$base07: #ffffff !default;
$base08: #f07178 !default;
$base09: #f78c6c !default;
$base0a: #ffcb6b !default;
$base0b: #c3e88d !default;
$base0c: #89ddff !default;
$base0d: #82aaff !default;
$base0e: #c792ea !default;
$base0f: #ff5370 !default;


@import "so-simple/skin";
